<h1>Pages#admin</h1>
<p>Find me in app/views/pages/admin.html.erb</p>

<h1>Usuários</h1>
<% @user.each do |user| %>
  <p>Email: <%= user.email %></p>
  <p>Nome: <%= user.nome %></p>
  <p>Matrícula: <%= user.matricula %></p>
  <% if user.requi != nil %>
  <p>Requisicao: <%= render user.requi %></p>
  <% end %>
  <%= link_to "Home", root_path %>
<% end %>



