<h1>User Profile</h1>
<p>Email: <%= @user.email %></p>
<p>Nome: <%= @user.nome %></p>
<p>Matrícula: <%= @user.matricula %></p>

<% @user.requi.each do |requi| %>
  <p>Requisicao:</p>
  <%= render requi %>

  <% if requi.atividade.present? %>
    <p>Atividade: <%= requi.atividade.nome %></p>
  <% end %>
  <% if requi.modalidade.present? %>
    <p>Modalidade: <%= requi.modalidade.nome %></p>
  <% end %>
<% end %>

<%= link_to "Nova requisição", new_requi_path %>
