<div id="<%= dom_id requi %>">
  <p>
    <strong>Titulo:</strong>
    <%= requi.titulo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= requi.user_id %>
  </p>





<p>
  <strong>Horas:</strong>
  <%= requi.horas %>
</p>

<p>
  <strong>Atividade:</strong>
  <%= requi.atividade.nome %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= requi.modalidade.nome %>
</p>






  <%= render 'requis/attachement', requi: requi %>

</div>
